 $primary:rgb(221, 34, 34);
 $secondary:rgb(20, 221, 80);
 $success:rgb(221, 20, 204);
 $danger:rgb(41, 87, 87);
 $warning:rgb(192, 71, 71);
 $info:rgb(59, 46, 46);
 $light:rgb(175, 238, 3);
 $border-1:50px;
 $h1-font-size:  70px;
 $h2-font-size:  100px;
 $h3-font-size:  10px;
 $h4-font-size:  19px;
 $h5-font-size:  109px;
 $h6-font-size:  120px;
 $line-height-base:            3.5;
 $line-height-sm:              6.25;
 $line-height-lg:              9;
 $font-weight-lighter:         bolder;
 $font-weight-light:           700;
 $font-weight-normal:          500;
 $font-weight-medium:          600;
 $font-weight-semibold:        300;
 $font-weight-bold:            200;
 $font-weight-bolder:          lighter;
 $border-radius:               5rem;
 $border-radius-sm:            10rem;
 $border-radius-lg:            35rem;
 $border-radius-xl:            31rem;
 $border-radius-xxl:           28rem;
 $border-radius-pill:          100rem;

@import "../node_modules/bootstrap/scss/bootstrap";
